* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  height: 100%;
  width: 100%;
}

.iconSize {
  width: 1.5em;
}

.img-size {
  width: 8.5rem;
}

.pre-size {
  height: 15rem;
}
